#example28 + .btn-group > .multiselect {
    min-width : 65px;
}
.bootstrap-touchspin-up, .bootstrap-touchspin-down {
    border-radius : 0 !important;
}
.clockface > div {
    overflow : hidden;
    text-align: center;
}
.bootstrap-switch-container{
    width: 153px !important;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
    background-color: #6699cc;
    color: #fff;
}
.multiselect-container>li>a>label {
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    padding: 3px 20px 3px 22px;
}
@media only screen and (min-width : 769px ) and (max-width : 1440px ) {
    #example28-values {
        margin-top : 10px;
    }
}
@media (max-width : 320px ) {
    .bootstrap-datetimepicker-widget.dropdown-menu {
        width : 100%;
        left  : 30px !important;
    }
}
.picker-switch span{
    color:#6699cc;
}
.multi_block{
    display: block;
}
.dropdown_position .dropdown-menu{
    transform:translate3d(0px, 3px, 0px) !important;

}
.bootstrap-touchspin .input-group-btn-vertical{
    margin-right: 15px;
}
