/* wizard custom css */

.wizard-modal p {
    margin  : 0 0 10px;
    padding : 0;
}
#wizard-ns-detail-servers,
.wizard-additional-servers {
    font-size   : 12px;
    margin-top  : 10px;
    margin-left : 15px;
}
#wizard-ns-detail-servers > li,
.wizard-additional-servers li {
    line-height     : 20px;
    list-style-type : none;
}
#wizard-ns-detail-servers > li > img {
    padding-right : 5px;
}
.wizard-modal .chzn-container .chzn-results {
    max-height : 150px;
}
.wizard-addl-subsection {
    margin-bottom : 40px;
}
.create-server-agent-key {
    margin-left : 15px;
    width       : 90%;
}
.wizard > .content > .body select.error {
    background : rgb(251, 227, 228);
    border     : 1px solid #fbc2c4;
    color      : #8a1f11;
}
a {
    cursor : pointer;
}

.stepwizard-step p {
    margin-top : 10px;
}
.stepwizard-row {
    display : table-row;
}
.stepwizard {
    display  : table;
    width    : 96%;
    position : relative;
}
.stepwizard-step button[disabled] {
    opacity : 1 !important;
    filter  : alpha(opacity=100) !important;
}
.stepwizard-step {
    display    : table-cell;
    text-align : center;
    position   : relative;
}
.stepwizard-step .btn-default {
   /* border-color: #c3c3c3;*/
       border: none;
}
.stepwizard-step .btn-default:hover:after {
     /* border-color: #c3c3c3;*/
}
.stepwizard .stepwizard-step .btn {
    border-radius: 0;
}
.stepwizard .stepwizard-step a:before {
    position: absolute;
    top: 0;
    right: -29px;
    width: 0;
    height: 0;
    content: "";
    border-top: 16px solid transparent;
    border-left: 30px solid #ddd;
    border-bottom: 17px solid transparent;
    border-right: 0;
    z-index: 1;
}
.stepwizard .stepwizard-step a:after {
    position: absolute;
    top: 0;
    right: -27px;
    width: 0;
    height: 0;
    content: "";
    border-top: 16px solid transparent;
    border-left: 30px solid #ddd;
    border-bottom: 17px solid transparent;
    border-right: 0;
    z-index: 2;
}
.modal-header{
    display: flex;
}
.stepwizard .btn-primary, .stepwizard .btn-primary:hover{
    color: #fff;
}
.stepwizard .btn-primary, .stepwizard .btn-primary:hover {
    background-color : #6ba229 !important;
    border-color     : #6ba229 !important;
}
.stepwizard .stepwizard-step .btn-primary:before {
    border-left: 30px solid #6ba229;
}
.stepwizard .stepwizard-step .btn-primary:after {
    border-left: 30px solid #6ba229;
}
.stepwizard .btn-default:hover{
	background:#DCDCDC;
}

/**/

#contact {
    background-color : #f0f0f0;
    margin-top       : -15px;
    margin-bottom    : -15px;
}
.tabbable {
    background-color : #fff;
    border-right     : 1px solid rgba(232, 232, 232, 1);
    height           : 400px;
    overflow         : hidden;
    margin-bottom    : 10px;
}
.tabbable:hover {
    overflow-y : scroll;
}
.tabbable ul {
    display    : list-item;
    padding    : 0;
    margin     : 0 !important;
    min-height : 420px;
}
.tabbable ul > li {
    display       : block;
    padding       : 10px;
    border-bottom : 1px solid #e0e0e0;
    margin        : 0;
    width         : 100%;
}
.tabbable ul > li img {
    width         : 40px;
    height        : 40px;
    margin-right  : 15px;
    border-radius : 50%;
    float         : left;
}
.tabbable ul li.active {
    background-color : #f0f0f0 !important;
    margin           : 0;
    width            : 100% !important;
    color: #fff;
}
.nav.nav-pills {
    margin-bottom : 20px;
}
.nav > li {
    position: relative;
    display: block;
}
.pager li > a:hover,
.pager li > a:focus {
    background-color : #DBD4D4;
}
/* bootstrap wizard2 css */
.nav-pills > li > a {
    border-radius: 2px;
}
#rootwizard .nav-pills > li.active,
#rootwizard .nav-pills > li.active:hover,
#rootwizard .nav-pills > li.active:focus {
    color: #fff;
    background-color: #4FC1E9;
}
#rootwizard .nav-pills li:not(:last-child)::before {
    position: absolute;
    top: 0;
    right: -29px;
    width: 0;
    height: 0;
    content: "";
    border-top: 24px solid transparent;
    border-left: 26px solid #fff;
    border-bottom: 24px solid transparent;
    border-right: 0;
    z-index: 1;
}
#rootwizard .nav-pills li:not(:last-child)::after {
    position: absolute;
    top: 0;
    right: -24px;
    width: 0;
    height: 0;
    content: "";
    border-top: 24px solid transparent;
    border-left: 24px solid #eee;
    border-bottom: 24px solid transparent;
    border-right: 0;
    z-index: 2;
}
#rootwizard .nav-pills li.active:not(:last-child)::after {
    border-left: 24px solid #4FC1E9;
}
.profile_pic {
    height : 100%;
    width  : 100%;
}
.help-block{
    font-size: 14px;
}
@media screen and (max-width: 570px){
    .stepwizard .stepwizard-step a:before {
        right: -20px;
        border-left: 20px solid #c3c3c3;
    }
    .stepwizard .stepwizard-step a:after {
        right: -18px;
        border-left: 21px solid #ddd;
    }
    .stepwizard .stepwizard-step .btn-primary:before {
        border-left: 20px solid #4FC1E9;
    }
    .stepwizard .stepwizard-step .btn-primary:after {
        border-left: 21px solid #4FC1E9;
    }
}
.table-bordered td a{
    color:#69c;
}
#rootwizard .nav-pills > li.active, #rootwizard .nav-pills > li.active:hover, #rootwizard .nav-pills > li.active:focus {
    color: #fff;
    background-color: #4FC1E9;
}
#rootwizard .nav-pills li {
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 12px 37px;
}
.nav.nav-pills {
    margin-bottom: 20px;
}
#rootwizard .nav-pills > li >.nav-link.active, #rootwizard .nav-pills > li >.nav-link.active:hover, #rootwizard .nav-pills > li >.nav-link.active:focus {
    color: #fff;
    background-color: #4FC1E9;
}
#rootwizard .nav-pills li:not(:last-child)::before {
    position: absolute;
    top: 0;
    right: -29px;
    width: 0;
    height: 0;
    content: "";
    border-top: 24px solid transparent;
    border-left: 26px solid #fff;
    border-bottom: 24px solid transparent;
    border-right: 0;
    z-index: 1;
}
.item_clr{
    color: #fff;
}

/*             help-block           */
.has-error .help-block, .has-error .form-control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label{
    color:#ff6666;
}
.has-error .form-control{
    border-color: #ff6666;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control{
    border-color: #66cc99;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .help-block, .has-success .form-control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label{
    color: #66cc99;
}
.bg-primary.card-header {
    color: #fff;
    background-color: #4FC1E9;
    border-color: #4FC1E9;
}

