.daterangepicker.opensleft:after {
    display : none;
}
.date-picker-wrapper {
    z-index : 2;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color : #fff;
}
.daterangepicker.opensright:after {
    content : none;
}
.card-header {
    padding: 9px 15px 7px 15px;
}
.date-picker-wrapper.no-shortcuts{
    top: 353px;
    left: 46px;
    user-select: none;
}
.xdsoft_datetimepicker .xdsoft_datepicker{
    width:260px;
}